.has-search .form-control {
	padding-left: 2.375rem;
}

#search-filter {
	padding-top: 5rem;
}

.wrapper {
	padding-bottom: 6rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
}

.navbar-badge {
	font-size: 0.6rem;
	font-weight: 300;
	padding: 2px 4px;
	position: absolute;
	right: 5px;
	top: 9px;
}

.user-panel {
	position: relative;
	width: 60%;
	overflow: hidden;
}

.btn-pink {
	background-color: var(--pink) !important;
	border: 1px solid var(--pink) !important;
	color: #fff !important;
}

#button-categories {
  overflow-x: auto;        /* Enable horizontal scrolling */
  overflow-y: hidden;     /* Hide vertical scrolling */
  white-space: nowrap;    /* Prevent button elements from wrapping */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
	/* -ms-overflow-style: touch; */
}

::-webkit-scrollbar {
	display: flex;
}

/* Optional: Add some padding to improve the appearance */
#button-categories > input {
  margin-right: 10px;     /* Add some space between buttons */
}
